<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:glEsVersion="0x00030000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />


    <application
        android:name=".mawruthApp.MawruthApp"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Mawruth"
        tools:targetApi="31">
        <activity
            android:name=".ui.islamicmuseum.IslamicActivity"
            android:exported="false">

        </activity>
        <!-- <service -->
        <!-- android:name="androidx.appcompat.app.AppLocalesMetadataHolderService" -->
        <!-- android:enabled="false" -->
        <!-- android:exported="false"> -->
        <!-- <meta-data -->
        <!-- android:name="autoStoreLocales" -->
        <!-- android:value="true" /> -->
        <!-- </service> -->
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.settings.SettingsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.profile.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.arActivity.AgumentedRealityActivity"
            android:exported="false" />
        <activity
            android:name=".ui.museumDetails.MuseumDetailsActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".ui.HomeScreen.MawruthHomeScreenActivity"
            android:exported="false" />
        <activity
            android:name=".ui.successfulCreate.SuccessfulCreatedActivity"
            android:exported="false" />
        <activity
            android:name=".ui.confirmEmail.ConfirmEmailActivity"
            android:exported="false" />
        <activity
            android:name=".ui.confirmemailtoresetpassword.confirmemailtoResetPassword"
            android:exported="false"
            />
        <activity
            android:name=".ui.resetpassword.ResetPassword"
            android:exported="false"
            />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.signup.SignupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.getstarted.GetStartedActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.onBoarding.OnBoardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.splash.SplashScreen"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>